# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model files
*.csv
*.tsv
*.h5
*.hdf5
*.pkl
*.joblib
*.npy
*.npz
*.sav
*.log

# Environment files
.env
.venv
venv/
env/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/ 